<div class="center">
<h1>LOSER!!!</h1>
<img src="http://33.media.tumblr.com/9b70f783251abfef48958c82d6aa0042/tumblr_n6uzdmswrI1qblxj7o1_250.gif" class="animated shake"><br/>
<a href="/restart" class="btn">I want to play again</a>
</div>